.map {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;

  }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}